.kk-advantages {
  padding: 60px 0;
}
.kk-container {
  width: 1440px;
}
.kk-advanteges__h2 {
  font-size: 30px;
  color: #5f5f5f;
  font-family: "Berkshire Swash", cursive;
}
.kk-advanteges__h2 h2 {
  border-bottom: 1px solid #5f5f5f;
  padding-bottom: 10px;
}
.kk-advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.kk-advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex: 0 0 calc(25% - 50px);
  max-width: calc(25% - 50px); */
  border-radius: 10px;
  background-color: #fdc054;
  text-align: center;
  margin: 8px;
  width: 272px;
  height: 336px;
}
.kk-advantages__img {
}
.kk-advantages__img1 img {
  width: 179px;
  height: 256;
}
.kk-advantages__img2 img {
  width: 246px;
  height: 219px;
  margin-top: 40px;
}
.kk-advantages__img3 img {
  width: 181px;
  height: 191px;
  margin-top: 70px;
}
.kk-advantages__img4 img {
  width: 220px;
  height: 211px;
  margin-top: 40px;
}
.kk-advantages__text {
  color: #ffffff;
  font-size: 30px;
}
.kk-advantages__text p {
  margin: 0;
  padding: 30px 0;
}
