.kk-advertisement {
  position: relative;
  padding: 60px 0;
  background-image: url(../../img/cubes-colorful.png);
  background-size: cover;
  overflow: hidden;
  height: 100%;
  z-index: 1;
}

.kk-advertisement__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.kk-advertisement::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.kk-advertisement__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.kk-advertisement__text h2 {
  font-family: "Berkshire Swash", cursive;
  margin: 0px;
  margin-bottom: 20px;
  width: 546px;
  font-size: 60px;
  font-weight: 100;
  color: #ffffff;
}

.kk-advertisement__text p {
  color: #ffffff;
  font-size: 30px;
  width: 467px;
  height: 91px;
  margin: 0;
  font-weight: 600;
  line-height: 1.3;
}
.kk-advertisement__katalog {
  padding: 6px 3px;
  width: 117px;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}
.kk-advertisement__katalog a {
  text-decoration: none;
}

.kk-advertisement__img {
  margin-top: 64px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  height: 100%;
}
.kk-advertisement__img img {
  width: auto;
  height: 381px;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .kk-advertisement__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .kk-advertisement__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .kk-advertisement__text h2 {
    width: 100%;
  }
  .kk-advertisement__text p {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .kk-advertisement {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .kk-advertisement__text h2 {
    font-size: 30px;
  }
  .kk-advertisement__text p {
    font-size: 20px;
    height: auto;
    padding-bottom: 20px;
  }
  .kk-advertisement__img img {
    height: 191px;
  }
}
