.kk-advicemenu {
  background-color: #eafffb;
}
.kk-advicemenu .kk-container {
  height: 212px;

  width: 1440px;
}
.kk-advicemenu__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.kk-advicemenu__wrapper p {
  border: 2px solid #002b11;
  color: #002b11;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-right: 20px;
  margin-top: 20px;
}
