.kk-bestsellers {
  height: 100%;
  position: relative;
  background-image: url(../../img/foni-s-narisovannimi-knigami.png);
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  padding: 60px 0;
}
.kk-container {
}
.kk-bestsellers__h2 {
  font-size: 30px;
  color: #ffffff;
  font-family: "Berkshire Swash", cursive;
}
.kk-bestsellers__h2 p {
  padding-top: 0;

  border-bottom: 1px solid #999898;
  padding-bottom: 10px;
  font-weight: 400;
}

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.kk-bestsellers__book {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.kk-bestsellers::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.kk-bestsellers__book-photo {
}
.kk-bestsellers__book-photo img {
  width: 212px;
  height: 283px;
}
.kk-bestsellers__book-title {
  color: #ffffffb8;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
  font-weight: 100;
}
.kk-bestsellers__book-title p {
  margin: 0;
  line-height: 1;
}

.kk-bestsellers__book-author {
  color: #ffffffb8;
  font-size: 14px;
  font-family: "Cairo", sans-serif;
}
.kk-bestsellers__book-author p {
  margin: 0;
}

.kk-bestsellers__book-price {
  color: #fdc054;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
.kk-bestsellers__book-price p {
  margin: 0;
  padding-bottom: 4px;
}

.kk-bestsellers__button {
}
.kk-bestsellers__button a {
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1px 10px;
}
.kk-bestsellers__button-next {
}

.kk-bestsellers__button-next a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: 142px;
  right: 0;
  z-index: 1;
}
.kk-bestsellers__button-next i {
  font-size: 20px;
}

.kk-bestsellers__button-prev a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: 142px;
  left: 0;
  z-index: 1;
  font-size: 20px;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .kk-bestsellers .swiper-slide {
    width: auto !important;
  }
  .kk-bestsellers__h2 {
    font-size: 20px;
  }

  .kk-bestsellers__book-photo img {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .kk-bestsellers__button-next a {
    width: 30px;
    height: 30px;
  }
  .kk-bestsellers__button-prev a {
    width: 30px;
    height: 30px;
  }
  .kk-bestsellers__button-prev i {
    font-size: 16px;
  }
  .kk-bestsellers__button-next i {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
}
