.kk-favorites {
  height: 100%;
  padding-bottom: 37px;
}
.kk-container {
  position: relative;
}
.kk-favorites__h2 {
  font-size: 30px;
  color: #5f5f5f;
  font-family: "Berkshire Swash", cursive;
}
.kk-favorites__h2 p {
  border-bottom: 1px solid #999898;
  padding-bottom: 10px;
}

.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.kk-favorites__book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}
.kk-favorites__book-photo {
  width: auto;
  height: 282px;
  padding-bottom: 4px;
}
.kk-favorites__book-photo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.kk-favorites__book-title {
  color: #5f5f5f;
  font-size: 18px;
}
.kk-favorites__book-title p {
  line-height: 1;
  margin: 0;
}

.kk-favorites__book-author {
  color: #5f5f5f;
  font-size: 14px;
}
.kk-favorites__book-author p {
  margin: 0;
}

.kk-favorites__book-price {
  color: #fa283b;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
.kk-favorites__book-price p {
  margin: 0;
  padding-bottom: 4px;
  font-weight: bold;
}

.kk-favorites__button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.kk-favorites__button a {
  border-radius: 4px;
  background-color: #002b11;
  color: #ffffff73;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1px 10px;
}
.kk-favorites__button-next {
}

.kk-favorites__button-next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #002b11;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  top: calc(50% - 25px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  right: 0;
  z-index: 1;
  font-size: 20px;
}

.kk-favorites__button-prev a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #002b11;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  top: calc(50% - 25px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  left: 0;
  z-index: 1;
  font-size: 20px;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .kk-favorites__book-title {
    font-size: 15px;
  }
  .kk-favorites__book-photo {
    height: 222px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
