

.kk-footer {
  background-color: #5f5f5f;

  padding: 70px 0;
}

.kk-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.kk-footer__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  z-index: 5;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kk-footer__logo img {
  width: 266px;
  height: 158px;
  padding-bottom: 20px;
}
.kk-footer__logo p {
  text-transform: uppercase;
  line-height: 1;
  margin: 0em;
  color: #ffffff;
  font-size: 34px;
  font-weight: bold;
}
.kk-footer__logo h2 {
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  font-size: 43px;
  color: #ffffff;
}

.kk-footer__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kk-footer__text p {
  text-transform: uppercase;

  color: #ffffff;
  font-size: 16px;
}
.kk-footer__text2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kk-footer__text2 p {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
}
.kk-footer__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.kk-footer__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kk-footer__icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 5px 10px;
  text-align: center;
  font-size: 31px;
  color: #5f5f5f;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background-color: #ffffff;
  text-decoration: none;
}

.kk-copyrights {
  background: #252525;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kk-copyrights p {
  font-size: 20px;
  text-align: center;
  color: #f5f5f5;
  margin: 0;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .kk-footer__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .kk-footer__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .kk-footer__text2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .kk-footer__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .kk-footer__icon a {
    margin: 5px 20px;

    width: 62px;
    height: 62px;
  }
}
@media (max-width: 767px) {
  .kk-footer__logo p {
    font-size: 24px;
  }
  .kk-footer__logo h2 {
    font-size: 34px;
  }
  .kk-footer__icon a {
    width: 42px;
    font-size: 20px;
    height: 42px;
  }
  .kk-footer {
    padding: 20px 0;
  }
  .kk-footer__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .kk-footer__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .kk-footer__text2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .kk-footer__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .kk-footer__icon a {
    margin: 5px 30px;
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 575px) {
  .kk-footer__icon a {
    margin: 5px 10px;
  }
  .kk-footer__text p {
    font-size: 14px;
  }
  .kk-footer__text2 p {
    font-size: 14px;
  }
}
