body {
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  font-family: "Cairo", sans-serif;
}
a {
  outline: none;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 9;
}
.kk-header {
  height: 60px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.kk-header .kk-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.kk-logo {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kk-logo__image {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kk-logo__image img {
  margin: 6px 10px 3px 0;
  height: 50px;
  width: 85px;
}
.kk-logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kk-logo__text a {
  text-decoration: none;
  /* padding-top: 21px;
  padding-bottom: 8px;
  margin-bottom: 3px; */
  font-weight: 700;
  font-family: "Cairo", sans-serif;
}
.kk-logo__text span {
  display: block;
  line-height: 1;
  color: #2c2c2c;
  text-transform: uppercase;
}
.kk-logo__text span:nth-child(1) {
  font-size: 16px;
  color: #5f5f5f;
}
.kk-logo__text span:nth-child(2) {
  color: #fa283b;
  font-size: 20px;
}
.kk-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}
.kk-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kk-nav__item:nth-child(even) {
  background-color: #f5f5f5;
}
.kk-nav__link {
  padding: 0 29px;
  text-decoration: none;
  font-size: 16px;
  color: #2c2c2c;
  line-height: 1;
  font-family: "Cairo", sans-serif;
}
.kk-nav__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-left: 20px;
  text-decoration: none;
}
.kk-nav__button.header-cart-button {
  background-color: #00c853;
}
.kk-nav__button.header-search-button {
  background-color: #7c4dff;
}
.kk-nav__item a span {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 100%;
  background-color: #002b11;
  color: #ffffff;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kk-nav__button i {
  color: #ffffff;
  font-size: 20px;
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
