.kk-kindsbook {
  padding: 40px 0;
}
.kk-container {
  width: 1440px;
  padding: 0 144px;
}
.kk-kindsbook__wrapper {
  display: flex;
}
.kk-kindsbook__main {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.kk-kindsbook__text1 {
  position: absolute;
  padding-bottom: 20px;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.kk-kindsbook__text1 p {
  margin: 0;
  padding: 0;
}
.kk-kindsbook__text1 p p {
  margin-top: 0;
  padding: 0;
}
.kk-kindsbook__text1 h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.kk-kindsbook__text1 h1 span {
  background-color: #fc2f3f;
  width: 141px;
  height: 51px;
}

.kk-kindsbook__img {
}
.kk-kindsbook__img img {
  width: 560px;
  height: 560px;
}

.kk-kindsbook__kinds {
  display: flex;
  flex-wrap: wrap;
}
.kk-kindsbook__items {
  flex: 0 0 calc(50% - 50px);
  max-width: calc(50% - 50px);
  border-radius: 10px;
}
.kk-kindsbook__items:nth-child(1) {
  margin: 8px;
  background-color: #fa283b;
}
.kk-kindsbook__items:nth-child(2) {
  margin: 8px;

  background-color: #1ebeae;
}
.kk-kindsbook__items:nth-child(3) {
  margin: 8px;

  background-color: #7348eb;
}
.kk-kindsbook__items:nth-child(4) {
  margin: 8px;

  background-color: #f15628;
}
.kk-kindsbook__items:nth-child(5) {
  margin: 8px;

  background-color: #f50057;
}
.kk-kindsbook__items:nth-child(6) {
  margin: 8px;

  background-color: #00b8d4;
}
.kk-kindsbook__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.kk-kindsbook__text p {
  color: #ffffff;
  font-size: 30px;
}
