.kk-kindsbook {
  padding: 40px 0;
  padding-bottom: 0;
}

.kk-kindsbook__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.kk-kindsbook__main {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.kk-kindsbook__text1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
}
.kk-kindsbook__top {
  margin: 0;
  padding: 0;
}
.kk-kindsbook__bottom {
  margin: 0;
  padding-bottom: 20px;
}
.kk-kindsbook__text1 h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 50px;
  background-color: #fc2f3f;
  width: 141px;
  height: auto;
}

.kk-kindsbook__img {
  width: 100%;
  padding-right: 8px;
  height: 560px;
}
.kk-kindsbook__img img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  height: 100%;
}

.kk-kindsbook__kinds {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  justify-content: center;
  margin-top: -8px;
}
.kk-kindsbook__items {
  flex: 0 0 calc(50% - 16px);
  max-width: calc(50% - 16px);
  border-radius: 10px;
  margin: 8px;
}
.kk-kindsbook__items:nth-child(1) {
  background-color: #fa283b;
}
.kk-kindsbook__items:nth-child(2) {
  background-color: #1ebeae;
}
.kk-kindsbook__items:nth-child(3) {
  background-color: #7348eb;
}
.kk-kindsbook__items:nth-child(4) {
  background-color: #f15628;
}
.kk-kindsbook__items:nth-child(5) {
  background-color: #f50057;
}
.kk-kindsbook__items:nth-child(6) {
  background-color: #00b8d4;
}
.kk-kindsbook__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 176px;
  width: 100%;
  text-align: center;
}

.kk-kindsbook__text p {
  color: #ffffff;
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .kk-kindsbook__main {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .kk-kindsbook__kinds {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 16px;
  }
  .kk-kindsbook__img {
    padding-right: 0;
  }
  .kk-kindsbook__items {
    margin: 0;
    margin-bottom: 16px;
    flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
  }
  .kk-kindsbook__items:nth-child(odd) {
    margin-right: 8px;
  }
  .kk-kindsbook__items:nth-child(even) {
    margin-left: 8px;
  }
}
@media (max-width: 767px) {
  /* .kk-kindsbook {
    padding: 0;
  }
  .kk-kindsbook__img img {
    width: 400px;
    height: 400px;
  }
  .kk-kindsbook__text1 {
    font-size: 20px;
  }
  .kk-kindsbook__items {
    flex: 0 0 calc(50% - 50px);
    max-width: calc(50% - 70px);
  }
  .kk-kindsbook__text p {
    color: #ffffff;
    font-size: 20px;
  } */
}
@media (max-width: 575px) {
  /* .kk-kindsbook__img img {
    width: 300px;
    height: 300px;
  }
  .kk-kindsbook__items {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 30px);
  } */
}
