.kk-mainbook {
  margin: 50px 0;
  height: 100%;
}

.kk-mainbook__h2 {
  color: #5f5f5f;
  font-size: 30px;
  margin: 0;
  margin-bottom: 49px;
  font-family: "Berkshire Swash", cursive;
}
.kk-mainbook__h2 p {
  padding-bottom: 10px;
  border-bottom: 2px solid #9998984f;
}
.kk-mainbook__wrapper {
  display: flex;
}
.kk-mainbook__img {
  display: flex;
  align-items: center;
  flex: 0 0 25%;
  max-width: 25%;
}
.kk-mainbook__img img {
  width: 100%;
  height: auto;
}
.kk-mainbook__text {
  display: flex;
  flex: 0 0 75%;
  max-width: 75%;
  flex-direction: column;
  justify-content: center;
  color: #5f5f5f;
  padding-left: 33px;
  line-height: 1;
}
.kk-mainbook__text h3 {
  font-size: 40px;
  margin: 0;
}
.kk-mainbook__author {
  font-size: 14px;
  margin: 0;
  padding: 8px 0;
}
.kk-mainbook__p {
  line-height: 1.3;
  font-size: 16px;
  margin: 0;
  padding-bottom: 20px;
  width: 100%;
}
.kk-mainbook__text a {
  border-radius: 4px;
  background-color: #002b11;
  color: #ffffff73;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .kk-mainbook__wrapper {
    align-items: center;
    flex-direction: column;
  }
  .kk-mainbook__img {
    display: flex;
    align-items: center;
    flex: 0 0 25%;
    max-width: 50%;
  }
  .kk-mainbook__text {
    text-align: center;
    align-items: center;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
  .kk-mainbook {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .kk-mainbook__h2 p {
    margin-bottom: 0;
  }
  .kk-mainbook__text h3 {
    font-size: 30px;
    margin: 10px 0;
  }
  .kk-mainbook__text {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
