.kk-mainslider {
  overflow: hidden;
}
.kk-container {
}
.kk-mainslider .swiper-container {
  overflow: visible;
}
.main-slider {
}
.swiper-wrapper {
}
.kk-mainslider .swiper-slide {
  width: auto !important;
}
.kk-mainslider__book {
  position: relative;
}
.kk-mainslider__book:hover .kk-mainslider__book-caption {
  opacity: 1;
}
.kk-mainslider__book-photo img {
  height: 277px;
  width: auto;
}
.kk-mainslider__button-next {
}

.kk-mainslider__button-prev {
}

.kk-mainslider__book-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.show-product {
}

.add-to-cart {
}
