.kk-mainslider {
}
.kk-container {
}
.kk-mainslider .swiper-container {
  overflow: visible;
}
.main-slider {
}
.swiper-wrapper {
}
.swiper-slide {
}
.kk-mainslider__book {
}
.kk-mainslider__book-photo img {
  height: 277px;
  width: auto;
}
.kk-mainslider__button-next {
}

.kk-mainslider__button-prev {
}
